#full-screen-menu{
	
	.menu-item-has-children{
		a{
			@apply w-full;
			@apply relative;
			@apply block;
		}
		
		&>a:after {
			position:absolute;
			right:0;
			top:9px;
			width:21px;
			height:21px;
			transition:all .2s ease-in-out;
			content:url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 21 21.2' style='enable-background:new 0 0 21 21.2;' xml:space='preserve'><path d='M1.3,10.6h18.3' stroke='black' stroke-width='2' stroke-linecap='round'/><path d='M10.5,19.8V1.4' stroke='black' stroke-width='2' stroke-linecap='round'/></svg>");
			pointer-events: none;
		}
		
		&.opened a:after{
			transform: rotate(45deg) translateY(-0%);
		}
	}
}